<?php $_id = 'id_' . md5(microtime())  ?>

<input type="hidden" name="<?php echo $this->getInputElementName() ?>" id="<?php echo $_id ?>" value="" />
<div id="map-customer-info" style="display:none;" >
	<input type="hidden" id="map_customer_name" value="">
	<input type="hidden" id="map_customer_email" value="">
	<input type="hidden" id="map_customer_id" value="">
	<input type="hidden" id="map_customer_billing_telephone" value="">
</div>
<?php $_gridJsObject = $this->getGridBlock()->getJsObjectName() ?>
<script type="text/javascript">

var mapClient = new MapClient('<?php echo $this->getUrl('banner/index/changeCustomer',array('_secure'=>true)) ?>')

function magestoreObjectRowClick(grid, event){
	var trElement = Event.findElement(event, 'tr');
	var isInput   = Event.element(event).tagName == 'INPUT';
	if(trElement){
		var checkbox = Element.getElementsBySelector(trElement, 'input');
		if(checkbox[0]){
			$('<?php echo $_id ?>').value = checkbox[0].value;
			checkbox[0].checked = true;
			mapClient.changeCustomer(checkbox[0].value);
		}
	}
}

<?php echo $_gridJsObject ?>.rowClickCallback =	magestoreObjectRowClick;

</script>