<?php
/*************RED BACK API LIST ORDER**************/
?>
<?php require_once 'redback/RedbackServices.php'; ?>
<?php 
 //REDBACK API CALL TO GET THE ORDER LIST
	     $session = Mage::getSingleton("core/session");
	     $arrySession=$session->getData();
		$customerNo='';
		 $customerZip='';
		if( !empty($arrySession['cust_number'])){
			 $customerNo = $arrySession['cust_number'];
			 $customerZip =$arrySession['cust_zip'];
		}
	    $title ='4';
            $objRedBackApi = new RedbackServices();
	    $data =array(
			'CustNumber'=>$customerNo,
			'CustName'=>'',
			'CustAdd1'=>'',
			'CustAdd2'=>'',
			'CustState'=>'',
			'CustCity'=>'',
			'CustZip'=>$customerZip,
			'CustCountry'=>'',
			'CustPhone'=>'',
			'CustFax'=>'',
			'CustEmail'=>''	,
			'CustPin'=>'',
			'Title'=>$title,
			'SumOrderNumbers'=>'',
			'SumOrderDates'=>'',
			'SumShipNames'=>'',
			'SumShipStatus'=>'',
			'SumOrderTotal'=>'',
			'DetOrderNumber'=>'',
			'DetOrderDate'=>'',
			'DetOrderAmount'=>'',
			'DetShipName'=>'',
			'DetShipAdd1'=>'',
			'DetShipAdd2'=>'',
			'DetShipCity'=>'',
			'DetShipState'=>'',
			'DetShipZip'=>'',
			'DetShipNumber'=>'',
			'DetShipItems'=>'',
			'DetShipQty'=>'',
			'DetShipDesc'=>'',
			'DetShipVia'=>'',
			'DetShipDate'=>'',
			'DetShipTrackNums'=>'',
			'DetShipTrackLink'=>'',
			'DetShipEstDelBegin'=>'',
			'DetShipEstDelEnd'=>'',
			'DetOpenLocs'=>'',
			'DetOpenItems'=>'',
			'DetOpenQtys'=>'',
			'DetOpenDesc'=>'',
			'DetOpenEstDelBegin'=>'',
			'DetOpenEstDelEnd'=>'',
			'StatusErr'=>'',
			'StatusMsg'=>''
			);
                $redbackOrderList = $objRedBackApi->orderListCustNumber($data);
		$RedbackErrors ='';
		//Redback is not avaiable then 		
		if(!$redbackOrderList){
			$RedbackErrors = "Sorry we are not able to show order list";
		}else{
			$arrOrdeNumber = array();
			$arrSumOrderDates = array();
			$arrSumOrderTotal = array();
			$arrSumShipStatus = array();


			// Error Message then display error message
			if(empty($redbackOrderList['StatusErr'])){
					if(!empty($redbackOrderList['SumOrderNumbers'])){
						$arrOrdeNumber =	explode('ý',$redbackOrderList['SumOrderNumbers']);
						$arrSumOrderDates =	explode('ý',$redbackOrderList['SumOrderDates']);
						$arrSumOrderTotal =	explode('ý',$redbackOrderList['SumOrderTotal']);
						$arrSumShipStatus =	explode('ý',$redbackOrderList['SumShipStatus']);
					}else if(!empty($redbackOrderList['DetOrderNumber'])){
                        $arrDetOpenEstDelBegin = explode("ü",$redbackOrderList['DetOpenEstDelBegin']);
                        $statusFlgCount = 0;
                        foreach($arrDetOpenEstDelBegin as $status){
                            if($status == 'Cancelled'){
                                $statusFlgCount++;
                            }
                        }
						$arrOrdeNumber[] =	$redbackOrderList['DetOrderNumber'];
						$arrSumOrderDates[] =	$redbackOrderList['DetOrderDate'];
						$arrSumOrderTotal[] =	$redbackOrderList['DetOrderAmount'];
                        if($statusFlgCount == count($arrDetOpenEstDelBegin))
                            $arrSumShipStatus[] =	'Cancelled';
                        else
						    $arrSumShipStatus[] =	'Pending';
					}
				
			}else{
				$RedbackErrors = $redbackOrderList['StatusMsg'];
			}
		}
?>
<?php //$_orders = $this->getOrders(); ?>
<div class="page-title" style="margin-bottom:10px;" >
    <h1><?php echo $this->__('My Orders') ?></h1>
</div>
<script type="text/javascript">
    var ucxAccess = "583B0677";
    var ucxKeycode = UCX.GetParameter("p");
    var ucxCampaign = "utm_source:" + UCX.GetParameter("utm_source")
            + "|utm_medium:" + UCX.GetParameter("utm_medium")
            + "|utm_campaign:" + UCX.GetParameter("utm_campaign")
            + "|utm_keyword:" + UCX.GetParameter("utm_keyword");
    if (ucxCampaign == "utm_source:|utm_medium:|utm_campaign:|utm_keyword:")
        ucxCampaign = "";

    UCX.P(ucxAccess, ucxKeycode, ucxCampaign);
    function UCX_Queue(accessKey, cookieId) {
        UCX.LogCustomer(accessKey,cookieId,'<?php echo $customerNo; ?>','<?php echo $customerZip; ?>',keycode)
    }
</script>
<?php if (empty($RedbackErrors)) { ?>
<?php if(count($arrOrdeNumber)>0): ?>
<table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr class="table-caption" >
            <th><?php echo $this->__('Sno #') ?></th>
            <th><?php echo $this->__('Order No') ?></th>
            <th><?php echo $this->__('Order Date') ?></th>
            <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
            <th><span class="nobr"><?php echo $this->__('Order Status') ?></span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    
	<?php $_index = 1; ?>
	<?php $_count = count($arrItemOrdered); ?>
   	<?php foreach($arrOrdeNumber as $key => $order) :?>
	<?php $_index++; ?>
	<tbody <?php if($_index %2==0) { echo  ' class="even"'; } else { echo 'class="odd "'; } ?> >
		<tr <?php echo ($_index > $_count ? ' class="last"' : 'class="first"') ?>>
		 	<td><?php echo $key+1;?></td>
			<td><?php echo $order;?></td>
			<td><?php echo $arrSumOrderDates[$key];?></td>
			<td><?php echo Mage::helper('core')->currency($arrSumOrderTotal[$key]) ?></td>
			<td><?php echo $arrSumShipStatus[$key];?></td>
			<td class="a-center">
				<span class="nobr"><a href="<?php echo $this->getBaseUrl(); ?>myorder/index/order/orderId/<?php echo $order;?>"><?php echo $this->__('View Order') ?></a>
			</td>
	  	</tr>
	</tbody>
   	<?php endforeach;?>
	 <tfoot> <td colspan="6" style="background-color: #EDEDED;">  &nbsp;</td></tfoot>
</table>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif ?>
<?php }else { ?>
	<p><?php echo $RedbackErrors; ?></p>
<?php } ?>
