<?php
//$results = $this->getSuggestProducts();
//$suggests = Mage::helper('catalogsearch')->getSuggestCollection();
//$results->printlogquery(true)."\n\n";

$results = $this->getSolrSuggestProducts();
?>
<ul class="ajaxsearch" ><li style="display:none"></li>
    <?php
    if ($this->enabledSuggest())
        if ($results->count() && $this->enabledPreview())
            foreach ($results as $pro) {
                //$pro=Mage::getModel('catalog/product')->load($pro->getId());
            $name = addslashes($pro->getBotanicalName());
                $productUrl = $this->getBaseUrl().$pro->getUrlKey().".html";
                echo "<li class=\"preview\" ><a onclick=\"fillSearch('{$productUrl}')\">";

                echo '<div class="searchimage" >';
				if ($this->isShowImage()) {
					echo "<img src=\"{$this->helper('catalog/image')->init($pro, 'small_image')->resize($this->getImageWidth(), $this->getImageHeight())}\"  />";
				}
				 echo '</div><div class="searchtext" >';
				if ($this->isShowName()) {
				//   echo "{$pro->getName()} ";
					if($pro->getName()!='') 
						echo htmlspecialchars_decode(stripslashes($pro->getName()));
					else if($pro->getBreckName()!='') 
						echo htmlspecialchars_decode(stripslashes($pro->getBreckName())); 
					else 
						echo htmlspecialchars_decode(stripslashes($pro->getBotanicalName())); 
				}
				if($this->isShowDescription())
				{
					$description=substr($pro->getShortDescription(),0,$this->getNumDescriptionChar());
					$description=htmlspecialchars_decode(strip_tags(substr($description,0,strrpos($description,' '))));
					echo "<div class=\"description\">$description...</div>";
				} 
                echo "</div></a></li>";
            }
    ?>
</ul>


