<div class="block form-search">
    <div class="block-content">
        <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get" onsubmit="return checkkeyword();">
            <div class="form-search" id="searchf">
                <p class="headline"><strong>Search<img src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl(); ?>skin/frontend/enterprise/springhills/images/arrow-right.png"></strong></p>
                <span class="go-button">
                    <input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="Enter Keyword or Item #"  class="SearchTextbox clearresult"  />
                </span> 

                <span class="Search-go-button">
                    <input type="image" value="Go" src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl(); ?>skin/frontend/enterprise/springhills/images/buttons/button-search-small.gif" title="Go" style="margin-left:-2px;margin-top:3px;">
                </span>
                <div id="search_autocomplete" class="search-autocomplete" ></div>
                
                <script type="text/javascript">
                    //<![CDATA[
                    var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Enter Keyword or Item #') ?>');
                    searchForm.initAutocomplete('<?php echo $this->helper('searchautocomplete')->getSuggestUrl() ?>', 'search_autocomplete');
                    //]]>
                </script>

            </div>
        </form>

    </div>
</div>
<?php $actionName = $this->getAction()->getFullActionName();

if(0 && $actionName=="cms_index_index" && $actionName=="checkout_cart_index" ){ ?>
<script src="<?php echo $this->getSkinUrl('js/jquery.js');?>"></script>
<?php } ?>
<script type="text/javascript">
jQuery.noConflict();

jQuery('body').click(function(){
	jQuery("#search_autocomplete").html("");
});

jQuery(document).ready(function(){
 	if(jQuery(".product-essential").length > 0){
		jQuery("#search_autocomplete").css('display','block');	
	}

	//SearchTextbox
	jQuery(".SearchTextbox").keyup(function(){
		//if(jQuery(".product-essential").length > 0){
			searchbox =jQuery(this).val();
			if(searchbox.length < 3){
				jQuery("#search_autocomplete").html("");		
			}else{
				jQuery("#search_autocomplete").css('display','block');
			}
		//}
	});
});
function clearresult() {
	$('#search_autocomplete').html('');
}
function fillSearch(searchval) { 
	jQuery('#search_autocomplete').html('');
	window.location.href=searchval; 	
}

function checkkeyword(){ 	
			var id=document.getElementById("search");
                       	if(id.value=="" || id.value=="Enter Keyword or Item #") 
			{ 
				alert("Please Enter Keyword, Product Name, or Item# to search"); 
				id.focus(); 
				return false; 
			}
                        if(id.value.length<3)
                        {
                               alert("Please Enter Min 3 Characters");
                               id.value='';
                               id.focus(); 
			       return false;      
                        }  
   
		}


</script>
