<!--@subject Take a look at shopping cart  @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
    th { padding:5px 9px 6px 9px !important; }
    td { padding:7px 9px 9px 9px !important; }
</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
            <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p style="margin:0 0 10px;"><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Spring Hill" title="Spring Hill" border="0" /></a></p></td>
                    </tr>
                </table>

            <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                        <p><strong>Hey</strong>,<br/>
                        Take a look at my shopping cart from Springhill Nurseries Store.</p>

                        <p>{{var message}}</p>

                        {{var items}}
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <col align="right" />
                        <col align="right" width="80" /><br><br>
                            {{var totals }}
                        </table>
                        
                        <p align="right"><a href="{{var viewlink}}" style="color:#1E7EC8;">View this cart</a></p>
                        <br />
                        <p>Thank you again!</p>
                        <!--br/><strong>{{var customer.name}}</strong-->
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
    </div>
