<?php
$result = $this->getBlockData();
if(count($result['block']) && count($result['banners'])){		
	$block = $result['block'];
	$banners = $result['banners'];
	$bannerWidth = $block['width'];
	$div = "bannerbroup_".$block['alias'];
	$config = 1;
	if(isset($block['display_method']))
		$displayType = $block['display_method'];
	else 
		$displayType =2;
	if(count($banners) && $block['status'])
	{

$left_top = array('sidebar-left-top','cms-page-left-top','catalog-sidebar-left-top','category-sidebar-left-top','product-sidebar-left-top','cart-left-top','customer-left-top','cms-left-top');

$left_bottom = array('sidebar-left-bottom','cms-page-left-bottom','catalog-sidebar-left-bottom','category-sidebar-left-bottom','product-sidebar-left-bottom','cart-left-bottom','customer-left-bottom','cms-left-bottom');

?>
<script>
jQuery.noConflict();
jQuery(document).ready(function($){
	var cookie_control = '<?php echo $block["cookie_control"]; ?>';
	var cookie_name = '<?php echo $block["cookie_name"]; ?>';
	var cookie_value = '<?php echo $block["cookie_value"]; ?>';
	var banner_class_id = '<?php echo $block["alias"]; ?>';

	if(cookie_control=='1' && cookie_name!=''){
		var browserCookie = getCookie(cookie_name);
		//alert(browserCookie+"#########"+ cookie_value);
		if (browserCookie != null) {
			if(cookie_value != '') {
				if(browserCookie==cookie_value)
					$("."+banner_class_id ).hide();
			}
			else $("."+banner_class_id ).hide();
		}
	}
    var sessionZip = '<?php echo Mage::getSingleton('core/session')->getData("couponZip"); ?>';
    var zipPost = getCookie('couponZip');
    var strZip = zipPost.split(';');
    zipPost = strZip[0];
    if(sessionZip!='' &&  zipPost==''){
        zipPost = sessionZip;
    }
    //alert(zipPost)
    if(zipPost!='' ){
        $("#coupon_zip_code").val(zipPost);
        $("#postcode").val(zipPost);
        $('.grandCost').show();
        $('.shippingCost').show();
    }else{
        $('.grandCost').hide();
        $('.shippingCost').hide();
    }
    

});

</script>
<?php $bannerofferCode = Mage::getSingleton('core/session')->getData("offerCode"); ?>
<?php $resource = Mage::getResourceSingleton('checkout/cart');?>
<?php $bannerImageBlock = $resource->getBannerImage('home',$bannerofferCode); ?>
<?php if($block['block_position']=='cms-page-content-top' && $bannerofferCode!="" && $bannerImageBlock!=''):?>
<div id="main-dynamic-banner" style="display:none;" >
<?php else: ?>
<div id="main-dynamic-banner" style="" >
<?php endif; ?>
<div class="<?php echo $block['alias'];?>" id="<?php echo $div;?>" style="width:<?php echo $bannerWidth.'px';?>; height:auto; margin: 0 auto;">
<div class="bannergroup" >
<?php
	if(isset($block['show_title']) && $block['show_title'] =='1')
	{
?>
<h2>
	<?php echo $block['title']; ?>
</h2>
<?php		
	}
?>
<div id="header_text">
	<?php echo $block['header_text'];?>
</div>
<?php
	switch($displayType){
		//case0: normal
		case 0 :
			echo $this->getLayout()->createBlock('banner/default')->setBlockData($result)->setTemplate('banner/normal.phtml')->toHtml(); 
			break;
			
		//case1: slide
		case 1 :
			echo $this->getLayout()->createBlock('banner/default')->setBlockData($result)->setTemplate('banner/slide.phtml')->toHtml(); 	
			break;
		
		//case2: pro slider
		case 2:
			echo $this->getLayout()->createBlock('banner/default')->setBlockData($result)->setTemplate('banner/proslide.phtml')->toHtml(); 	
			break;
	}
?>
<div class="clear"></div>
<div id="footer_text">
	<?php echo $block['footer_text']?>
</div>
</div>
</div>
</div>
<?php	
	}
}
?>

