<?php 
	$result = $this->getBlockData();
	$block = $result['block'];
	$banners = $result['banners'];
?>

<ul>
	<?php
		foreach($banners as $banner)
		{
			echo "<li>" ;
			echo $this->generateBannerCode($block['target_method'],$banner);
			echo "</li>";
		}
	?>
	
</ul>