<?php 
	$result = $this->getBlockData();
	$block = $result['block'];
	$banners = $result['banners'];
	$div = "pettabs_".$block['alias'];
	$x = $block['alias'];
	$i = 0;
?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('banner/ajaxtabs.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('banner/banner_slide_01.css');?>" media="all" />

<div class="slide-container">
	
	<div class="slide-show" id="slide-images">	
		<div id="pettabs" class="indentmenu"> 
		<div id="<?php echo $div;?>">
			<ul>
		<?php
			foreach($banners as $banner){
				$i++;
			    if($block['show_lable'])
					$dislay_lable = "";
				else
					$dislay_lable = "none";
				
		?>
				<li style="display:<?php echo $dislay_lable; ?>;">
				<a style="display:<?php echo $dislay_lable; ?>;" href="#" rel="tab<?php echo $x.$i;?>" <?php if ($i == 1) { echo 'class="selected"'; }?>><?php echo $i;?></a></li>
		<?php
			}
		?>
			</ul>
		</div> 
		</div>
		<div style="width:auto;text-align:justify;padding-bottom: 10px; margin-bottom:1em"> 
			<?php
			$i = 0;
			foreach ($banners as $banner):
				$i++;
				$banner_height = "";
				$banner_width = "";
				if($banner['width'])
					$banner_width = "width:". $banner['width'] ."px";
				if($banner['height'])
					$banner_height = "height:". $banner['height'] ."px";	
				
				//$link = $banner['clickurl'];
				$link = $this->getUrl('banner/index/click',array('id'=>$banner['id']));
				
				switch($block['target_method']){
						// cases are slightly different
						case 0:
							// open in a new window
							$a = '<a href="'. $link .'" target="_blank">';
							break;

						case 2:
							// open in a popup window
							$a = "<a href=\"javascript:void window.open('". $link ."', '', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=780,height=550'); return false\">";
							break;

						default:	// formerly case 2
							// open in parent window
							$a = '<a href="'. $link .'">';
							break;			
						
				}					
			?>
			<div id="tab<?php echo $x.$i;?>" class="tabcontent">				
				<?php echo $a; ?> 
				<img title="<?php echo $banner['name']?>" alt="<?php echo $banner['name']?>" src="<?php echo Mage::getBaseUrl('media') .'banners/'. $banner['image']?>" alt="" style="<?php echo $banner_height;?>;<?php echo $banner_width;?>;"/>				
				<?php if (1):?>
				<div class="banner_content"><p>
						<?php echo $banner['description']; ?></p></div>
				<?php endif;?>
				</a>				
			</div>
			<?php
			endforeach;
			?>								
		</div>
		
	</div>
</div> 

<?php	
	$timeDelay = $block['delay_time'];
?>
<script type="text/javascript">
	var <?php echo "delay_".$x?> = <?php echo $timeDelay;?>;
	
	var <?php echo "mypets_".$x?>=new ddtabcontent("<?php echo $div;?>");
	<?php echo "mypets_".$x?>.setpersist(true);
	<?php echo "mypets_".$x?>.setselectedClassTarget("link");
	<?php echo "mypets_".$x?>.init(<?php echo "delay_".$x?>);
</script>