<?php
/**
 * Fido view template
 *
 * @see Fido_Example_Block_View
 *
 */
?>
<div>

    <?php
    echo $this->rightBanner();
    ?>
</div>

<?php

if(Mage::app()->getRequest()->getModuleName() !='checkout'
    && Mage::app()->getRequest()->getControllerName() !='cart'
    && !Mage::getSingleton('core/session')->getData("offerCode")): ?>
<div class="enter-code">
    <div id="openinpopup_keycode" style="display:none;">
        <div id="boxes">
            <div class="window-keycode winpop" id="dialog-keycode" style="display: block;left:24%;top:25%;">
                <div class="innerpop">
                    <div class="popcontent">
                        <div style = "height:185px;padding:14px 14px 14px 12px;background-image:none;" class="Instant">
                            <div class="close" style="margin-right:0;" onclick="jQuery('#openinpopup_keycode').hide();jQuery('#coupon-address-overlay').hide();">Close<span>X</span></div>
                            <div class="keycode-description">
                                <span style="color:#4C703D;font-size:20px;float:left;">Finding Your Key Code Number</span>
                                <span style="float:left;font-size:13px;margin-top:14px;">Your special keycode number is found on the back of your catalog in a green box called "Key No.". Enter this number anywhere that asks for a keycode or special offer code.</span>

                                <span style="float:left;font-size:13px;margin-top:14px;"><strong>Have questions?</strong> Feel free to call us at (513)354-1509 or send an email directly to <a style="color: #336633;" href="javascript:void(0)" onclick="javascript:void window.open('<?php Mage::getBaseUrl();?>service','','width=550,height=750,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=250,top=0');return false;">Customer Service</a></span>
                            </div>
                            <div class="keycode-description-image"><img src="<?php echo Mage::getBaseUrl('skin')?>frontend/enterprise/springhills/images/catalog-img.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="title">Got a <br /> Special Offer?</span>
    <span class="description">Enter Your Keycode for BIG Savings!</span>
    <form id="discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponpost') ?>" method="post">
        <div class="block-content">
            <div class="input-fields">
                <?php $textBoxText = "Enter Code"; ?>
                <input type="hidden" name="return_url" value="<?php echo $this->helper('core/url')->getCurrentUrl() ?>" />
                <input type="text" class="input-text"id="coupon_code" name="coupon_code" value="<?php echo $textBoxText ?>" onfocus="if (this.value == '<?php echo $textBoxText?>') { this.value = ''; }" onblur="if (this.value == '') { this.value = '<?php echo $textBoxText?>'; }">
                <button class="button applycp" onclick="discountForm.submit(false)" type="button" value="<?php echo $this->__('Apply Coupon') ?>"><span><span><?php echo $this->__('Apply') ?></span></span></button>
                <input type="hidden" name="remove" id="remove-coupone" value="0" />
            </div>
        </div>
    </form>
    <p class="a-center"><a class="WhatisThis" href="javascript:void(0)" onclick="jQuery('#openinpopup_keycode').show();jQuery('#coupon-address-overlay').show();">Where do I find my keycode?</a></p>

</div>



<script type="text/javascript">
    //<![CDATA[
    var discountForm = new VarienForm('discount-coupon-form');
    discountForm.submit = function (isRemove) {
        if (isRemove) {
            $('coupon_code').removeClassName('required-entry');
            $('remove-coupone').value = "1";
        } else {
            $('coupon_code').addClassName('required-entry');
            $('remove-coupone').value = "0";
        }
        return VarienForm.prototype.submit.bind(discountForm)();
    }
    //]]>
</script>
<script src="<?php echo $this->getSkinUrl('js/jquery.js');?>"  type="text/javascript"> </script>
<script>
    jQuery.noConflict();
    jQuery(document).ready(function(){
        var id = '#dialog-keycode';
        //Get the screen height and width
        var maskHeight = jQuery(document).height();
        var maskWidth = jQuery(window).width();
        //Get the window height and width
        var winH = jQuery(window).height();
        var winW = jQuery(window).width();

        //Set the popup window to center
        //jQuery(id).css('top',  winH/2-jQuery(id).height()/2);
        //jQuery(id).css('left', winW/2-jQuery(id).width()/2);
    });
    function checkCoupon(cus_id,cust_zip){
        var coupon = jQuery("#coupon_code").val();
        obj = false;
        if(window.ActiveXObject){
            obj = new ActiveXObject("Microsoft.XMLHTTP");
        }else{
            obj = new XMLHttpRequest();
        }
        obj.open('GET','<?php echo $this->getbaseUrl();?>ajaxfiles/check_coupon.php?code='+coupon+'&customer='+cus_id+'&cust_zip='+cust_zip);
        obj.onreadystatechange = function(){
            if(obj.readyState <4){
                document.getElementById('coupon-update-wait').style.display='block';
            }else if (obj.readyState ==4 && obj.status ==200){
                //alert(obj.responseText);
                document.getElementById('coupon-update-wait').style.display='none';
                if(obj.responseText!='0'){
                    discountForm.submit(false);
                }else{
                    alert('Coupon Code is not valid.');
                }

            }
        }
        obj.send(null);

    }
</script>

<?php endif; ?>